name: Cloud-PC-8H

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: windows-latest
    timeout-minutes: 480

    steps:
      - name: Install Ngrok
        run: |
          Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip -DestinationPath .

      - name: Auth Ngrok
        run: .\ngrok\ngrok.exe authtoken YOUR_TOKEN_HERE

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Start Tunnel
        run: .\ngrok\ngrok.exe tcp 3389
