name: Cloud-PC-8H

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: windows-latest
    timeout-minutes: 480

    steps:
      - name: Download Ngrok
        run: |
          Invoke-WebRequest "https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-stable-windows-amd64.zip" -OutFile "ngrok.zip"
          Expand-Archive "ngrok.zip" -DestinationPath "$env:USERPROFILE\ngrok"

      - name: Auth Ngrok
        run: |
          $exe = "$env:USERPROFILE\ngrok\ngrok.exe"
          & $exe authtoken YOUR_TOKEN_HERE

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Start Ngrok Tunnel
        run: |
          $exe = "$env:USERPROFILE\ngrok\ngrok.exe"
          & $exe tcp 3389
