name: Cloud PC

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Update system
        run: sudo apt update -y && sudo apt upgrade -y

      - name: Install XRDP + Desktop
        run: |
          sudo apt install xfce4 xfce4-goodies xrdp -y
          sudo systemctl enable xrdp
          sudo systemctl start xrdp
          sudo adduser pcuser --gecos "" --disabled-password
          echo "pcuser:123456" | sudo chpasswd
          sudo usermod -aG sudo pcuser

      - name: Allow RDP port
        run: sudo ufw allow 3389

      - name: Show connection info
        run: |
          echo "=============================="
          echo "RDP USER: pcuser"
          echo "PASSWORD: 123456"
          echo "IP: $(curl -s ifconfig.me)"
          echo "=============================="
